.main-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: aliceblue;
    height: 100%;
    .payment-form{
        display: flex;
        flex-direction: column;
    }
}
mat-label{
    margin-right: 0.75rem;
}
p{
    word-break: break-all;
    white-space: normal;
}