<div class="main-layout">
    <!-- header -->
    <header>
       <!-- header inner -->
       <div class="header">
          <div class="Green_bg">
             <div class="container-fluid">
                <div class="row">
                   <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                      <div class="full">
                         <div class="center-desk">
                            <div class="logo">
                               <a href="index.html"><img src="../../../assets/images/img-home/logoGivepaws.png" alt="#" /></a>
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                      <nav class="navigation navbar navbar-expand-md navbar-dark ">
                         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                         <span class="navbar-toggler-icon"></span>
                         </button>
                         <div class="collapse navbar-collapse" id="navbarsExample04">
                            <ul class="navbar-nav mr-auto">
                               <li class="nav-item active">
                                  <a class="nav-link" routerLink="/about">ติดต่อเรา</a>
                               </li>
                               <li class="nav-item" *ngIf="back else back_home">
                                  <a class="nav-link" routerLink="/">   กลับ</a>
                               </li>
                               <ng-template #back_home>
                                 <li class="nav-item">
                                    <a class="nav-link" routerLink="/home">กลับ</a>
                                 </li>
                               </ng-template>
                            </ul>
                         </div>
                      </nav>
                   </div>
                </div>
             </div>
             <!-- end header inner -->
             <!-- end header -->
             <!-- banner -->
             <section class="banner_main">
                <div id="banner1" class="carousel slide" data-ride="carousel">
                   <ol class="carousel-indicators">
                      <li data-target="#banner1" data-slide-to="0" class="active"></li>
                   </ol>
                   <div class="carousel-inner">
                      <div class="carousel-item active">
                         <div class="container-fluid">
                            <div class="carousel-caption">
                               <div class="row">
                                  <div class="col-md-12 col-lg-7">
                                     <div class="text-bg">
                                        <h1>H o s p i t a l</h1>
                                        <h2>เป็นส่วนหนึ่งที่ช่วยพัฒนาโลกกับ Givepaws ได้แล้ววันนี้</h2>
                                        <div class="row">
                                            <a class="read_more" routerLink="/about"><img src="../../../assets/images/img-home/love.png" alt="#"/> ติดต่อเรา</a> 
                                        </div>               
                                    </div>                                     
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </section>
          </div>
       </div>
    </header>
    <!-- end banner -->
        <!-- testimonial -->
        <div  class="testimonial">
            <div class="container">
               <div class="row">
                  <div class="col-md-12 ">
                     <div class="titlepage">
                        <h2> <span class="yellow">About Web application</span><br>เกี่ยวกับเว็บแอปพลิเคชันของเรา</h2>
                     </div>
                  </div>
               </div>
            </div>
            <div id="testimoni" class="carousel slide testimonial_Carousel " data-ride="carousel">
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="container">
                        <div class="carousel-caption ">
                           <div class="row">
                              <div class="col-md-10 offset-md-1">
                                 <div class="test_box">
                                    <i><img src="../../../assets/images/img-about/DC.jpg"></i>
                                    <h3>ที่มาและความสำคัญ</h3>
                                    <p> ในปัจจุบันประเทศไทยยังคงประสบปัญหาเรื่องสุนัข หรือ แมวจรจัดที่กระจายอยู่ทั่วไปในทุกเขตชุมชน โดยมีสาเหตุหลักของปัญหาคือ ประชาชนผู้เลี้ยงสุนัข หรือ แมว ขาดจิตสำนึกรับผิดชอบในการเลี้ยงสัตว์ หรือ ไม่สามารถแบกรับค่าใช้จ่ายในการดูแลสัตว์เลี้ยงของตนเองได้ ถึงแม้จะมีหน่วยงานมูลนิธิต่าง ๆ หรือ โครงการที่ได้รับการสนับสนุนจากการร่วมมือกันระหว่างภาครัฐกับภาคเอกชน ก็ไม่สามรถดูแลปัญหาได้อย่างทั่วถึงทุกเขตชุมชน จึงมีผู้หวังดีมากมายที่เสียสละตนเองมาช่วยเหลือสุนัขจรจัด หรือ แมวจรจัดเหล่านี้ แต่ในหลาย ๆ ครั้งก็เกิดปัญหาปัจจัยหลักที่ต้องใช้ในการช่วยเหลืออย่างเงินทุนมีไม่เพียงพอในการดูแลสุนัข หรือ แมวจรจัดที่มีอยู่เป็นจำนวนมากภายในประเทศไทยได้</p>
                                    <br><p>นับตั้งแต่ประเทศไทยประสบปัญหาเรื่องการระบาดของโควิด เจ้าของสุนัขบางคนกลัวติดโรคระบาดจากสัตว์เลี้ยง บางคนได้รับผลกระทบทางเศรษฐกิจทำให้ดูแลสัตว์เลี้ยงไม่ไหวเลยตัดสินใจนำสัตว์เลี้ยงของตนไปปล่อยในชุมชนหรือวัด ทำให้จำนวนสุนัข หรือ แมวจรจัดมีจำนวนเพิ่มมากยิ่งขึ้นส่งผลให้ปัญหาเรื่องสุนัข หรือ แมวจรจัดที่เดิมทีเป็นปัญหาสังคมที่สร้างผลกระทบด้านต่าง ๆ ทั้งการเห่าหอน วิ่งข้ามถนนตัดหน้ารถเสี่ยงทำให้เกิดอุบัติเหตุ คุ้ยขยะเกลื่อนกลาด หรือขับถ่ายไม่เป็นที่เป็นทางส่งกลิ่นอันไม่พึงประสงค์ทวีความรุนแรงมากยิ่งขึ้น นอกจากนี้สุนัข หรือ แมวจรจัดก็ยังเป็นพาหะที่ทำให้เกิดโรคพิษสุนัขบ้าเนื่องจากมีความใกล้ชิดกับชุมชน ซึ่งโรคพิษสุนัขบ้าไม่มีทางรักษาและเมื่อเป็นแล้วมักเสียชีวิตทุกราย ทางที่ดีที่สุดคือการควบคุมและป้องกันโรค ด้วยการฉีดวัคซีนโรคพิษสุนัขบ้าให้กับสุนัข หรือ แมวจรจัดเพื่อลดพาหะที่ทำให้เกิดโรคและนำไปทำหมันเพื่อควบคุมจำนวนประชากรสุนัข หรือ แมวจรจัดไม่ให้เพิ่มมากขึ้น</p>  
                                    <br><br><br><img src="../../../assets/images/img-about/D2.jpg">
                                    <br><br>
                                    <p>ปัญหาที่เกิดขึ้นจากสุนัข หรือ แมวจรจัดได้ส่งผลกระทบกับประเทศชาติและคนไทยเป็นวงกว้าง ตราบใดที่ประชากรสุนัขจรจัดยังคนสามารถเพิ่มจำนวนมากขึ้นอย่างต่อเนื่อง ดังนั้นการจัดการปัญหาเรื่องสุนัข หรือ แมวจรจัดในเมืองไทยจึงเป็นปัญหาที่มีความสำคัญและมีความจำเป็นที่จะต้องหาทางแก้ไข ตลอดจนหาแนวทางในการป้องกันไม่ให้เกิดสุนัข หรือแมวจรจัดเพิ่ม การสร้างพื้นที่ส่วนกลางที่ทำให้ผู้หวังดีที่เสียสละตนเองมาช่วยเหล่าสุนัข หรือ แมวจรจัด แต่ขาดปัจจัยในการช่วยเหลือสามารถเปิดรับขอบริจาคจากผู้หวังดีที่มีปัจจัยในการช่วยเหลือแต่ไม่มีเวลา นอกจากนี้ก็ยังเปิดการเปิดโอกาสให้ผู้ที่เป็นเจ้าของสุนัขที่ไม่มีเงินทุนในการพาสัตว์เลี้ยงของตนไปรักษาโรค หรือ ฉีดวัคซีนได้อย่างเหมาะสมเข้ามาเปิดขอรับเงินบริจาคเพื่อแบ่งเบาภาระค่าใช้จ่าย ช่วยให้สามารถช่วยป้องกันและลดปัญหาการทอดทิ้งสุนัขให้กลายเป็นสุนัขจรจัดในชุมชนเนื่องจากไม่สามารถรับผิดชอบค่าใช้จ่ายดูแลสัตว์เลี้ยงได้อีกด้วย</p>
                                    <br><p>จึงได้ทำจัดทำเว็บแอปพลิเคชัน GivePaws ขึ้นมาเพื่อช่วยแก้ไขปัญหา โดย GivePaws จะทำหน้าที่เป็นศูนย์กลางในการกระจ่ายข่าวสารให้ผู้หวังดีเข้ามาเปิดคำร้องขอรับบริจาคเงินทุนเพื่อนำไปช่วยเหลือสุนัข หรือ แมวจรจัดที่ตนดูแลอยู่ โดยจะต้องแนบรูปภาพสุนัข หรือ แมวจรจัดที่ต้องการช่วยเหลือ พร้อมกับวิธีการรักษา รวมไปถึงจำนวนค่าใช้จ่ายในการดูแลรักษาในคำร้องขอกับผู้หวังดีที่มีทุนทรัพย์ในการบริจาคเงิน ซึ่งจะช่วยเพิ่มประสิทธิภาพในการแก้ไขปัญหาภายในชุมชนที่ถูกดูแลไม่ทั่วถึงให้สามารถควบคุมจำนวนสุนัข หรือ แมวจรจัดในชุมชนและป้องกันโรคพิษสุนัขบ้าในเบื้องต้นก่อนสามารถช่วยเหลือสุนัข หรือ แมวจรจัดที่ป่วย หรือได้รับบาดเจ็บได้ ช่วยลดจำนวนสัตว์เลี้ยงที่จะกลายเป็นสัตว์จรจัดได้ในอนาคตอีกด้วย</p>
                                    <br><br><br><img src="../../../assets/images/img-about/D1.jpg">
                                </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- end testimonial section -->
        <!-- testimonial -->
        <div  class="testimonialAbout">
            <div class="container">
               <div class="row">
                  <div class="col-md-12 ">
                     <div class="titlepage">
                        <h2> <span class="green">About Web application</span><br>โรงพยาบาลสัตว์จะเข้าร่วมได้อย่างไร?</h2>
                     </div>
                  </div>
               </div>
            </div>
            <div id="testimoni" class="carousel slide testimonial_Carousel " data-ride="carousel">
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="container">
                        <div class="carousel-caption ">
                           <div class="row">
                              <div class="col-md-10 offset-md-1">
                                 <div class="test_box">
                                    <i><img src="../../../assets/images/img-about/AllH.png"></i>
                                    <h3>เข้าร่วมกับ Givepaws</h3>
                                   <p>ขอบคุณโรงพยาบาลที่กล้าหาญและพร้อมที่จะคอยให้ความช่วยเหลือแก่ประชาชนเพื่อเป็นส่วนหนึ่งในพลังที่จะช่วยสามารถเปลี่ยนโลกให้ดียิ่งขึ้น ช่วยกันพัฒนาชุมชนและประเทศของเราให้งดงามไปด้วยกันกับพวกเราได้แล้ววันนี้</p>
                                    <p> เพียงคลิกปุ่ม ติดต่อเรา </p>
                                   <div class= "con" style="align-content: center;">
                                        <a class="read_more" routerLink="/about"><img src="../../../assets/images/img-home/love.png"/> ติดต่อเรา</a> 
                                    </div>
                                </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- end testimonial section -->
    <!--  footer -->
    <footer >
       <div class="footerAbout">
          <div class="copyright">
                      <p>Copyright 2023 For Study By Group.2</p>
                </div>
             </div>
    </footer>
    <!-- end footer -->
    <!-- Javascript files-->
    <script src="../../../assets/js/jquery.min.js"></script>
    <script src="../../../assets/js/popper.min.js"></script>
    <script src="../../../assets/js/bootstrap.bundle.min.js"></script>
    <script src="../../../assets/js/jquery-3.0.0.min.js"></script>
    <!-- sidebar -->
    <script src="../../../assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="../../../assets/js/custom.js"></script>
</div>