<div class="main">
  

    <div class="table-history">
    <div mat-dialog-title >
        <h1>การรับบริจาค</h1>
    </div>
    <form >
        <div mat-dialog-content class="content">
            <div class="row">
                
                   
                    <!--<span>{{data.paymentcardID}}</span>!-->
                    <h1>Card Name : {{data.cardid.topic}}</h1>
                    <h1>หัวข้อ : {{data.topic}}</h1>
                    <h1>จำนวนเงิน : {{data.amount}}</h1>
                    <h1>สถานะ : {{data.status}}</h1>
                    <div *ngIf="data.topic == 'ค่ารักษา'; else elseBlock">หมายเลขบัญชีโรวพยาบาล :{{data.cardid.hospitalid.accountnumber}}</div>
                   <ng-template #elseBlock>หมายเลขบัญชีผู้ใช้ :{{data.cardid.accountnumber}}</ng-template>
                  <!-- <h1>1 : {{data.cardid.accountnumber}}</h1>
                    <h1>2 : {{data.cardid.hospitalid.accountnumber}}</h1>
               --> 
                             
                        <ngx-dropzone style="background-color: aliceblue; width: 55%; margin-bottom: 1rem;" (change)="onSelect($event)" class="img-zone-bg" required>
                            <ngx-dropzone-label *ngIf="imgMessage === 'Upload Images' else require_img">{{imgMessage}}</ngx-dropzone-label>
                            <ng-template #require_img>
                                <ngx-dropzone-label style="color: red;">{{imgMessage}}</ngx-dropzone-label>
                            </ng-template>
                            <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)" [file]="f">
                            <!-- <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label> -->
                            </ngx-dropzone-image-preview>
                        </ngx-dropzone>
                        
                    
                     
                
               
                
            </div>
    
           
        </div>
        <div mat-dialog-actions class="action">
       <!-- <button mat-raised-button type="button" (click)="approve(data.paymentcardid,data)" [mat-dialog-close]="false">Approve</button>
            
            <button mat-raised-button type="button" (click)="reject(data.paymentcardid,data)" [mat-dialog-close]="false">Reject</button> -->
         <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
         <button mat-raised-button type="button" (click)="saveIMG(data.donatetopicid)" [mat-dialog-close]="false">Submit</button>
        </div>
    </form>