<div mat-dialog-title>
    <h1>Add Admin</h1>
</div>
<form [formGroup]="adminForm" (ngSubmit)="onFormSubmit()">
<div mat-dialog-content class="content">
    <div>
        <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
                <input matInput type="text" formControlName="userName">
        </mat-form-field>   
    </div>
    <div>
        <mat-form-field appearance="outline">
            <mat-label>Display Name</mat-label>
                <input matInput formControlName="displayName">
        </mat-form-field> 
    </div>
    <div>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
                <input matInput type="text" formControlName="password">
        </mat-form-field>  
    </div>
    <div>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
                <input matInput formControlName="email">
        </mat-form-field> 
    </div>
</div>
<div mat-dialog-actions class="action">
    <button mat-raised-button type="button" [mat-dialog-close]="false">Cancle</button>
    <button mat-raised-button color="primary" type="submit">{{data ? 'Update': 'Save'}}</button>
</div>
</form>
