<div class="body">
    <div class="blur">
        <mat-card class="card">
            <mat-card-header><h2>Authentication Request</h2></mat-card-header>
            <mat-card-content>
                <form class="main-authen" [formGroup]="authenData" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <mat-form-field appearance="outline">
                            <mat-label>Enter your Firstname</mat-label>
                            <input matInput formControlName="firstname" placeholder="spw-user">
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Enter your Surname</mat-label>
                            <input matInput formControlName="surname" placeholder="sophonwit">
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-form-field appearance="outline">
                            <mat-label>Tel</mat-label>
                            <input matInput formControlName="tel" placeholder="090xxxxxxx" maxlength="10">
                            <mat-hint>Enter 10 numbers</mat-hint>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Date of Birth</mat-label>
                            <input matInput formControlName="dob" [matDatepicker]="picker">
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <mat-form-field appearance="outline" class="address">
                        <mat-label>Enter your address</mat-label>
                        <textarea matInput formControlName="address"></textarea>
                    </mat-form-field>
                    <div class="row">
                        <mat-form-field appearance="outline">
                            <mat-label>ID Card</mat-label>
                            <input matInput formControlName="idcard" placeholder="310xxxxxxxxxx" maxlength="13">
                            <mat-hint>Enter 13 numbers</mat-hint>
                        </mat-form-field>
                    </div>
                    <div class="img-zone">
                        <ngx-dropzone (change)="onSelect($event)" class="img-zone-bg" required>
                            <ngx-dropzone-label [ngClass]="getColorClass(imgMessage)">{{imgMessage}}</ngx-dropzone-label>
                            <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)" [file]="f">
                            <!-- <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label> -->
                            </ngx-dropzone-image-preview>
                        </ngx-dropzone>
                    </div>
                    <div class="row">
                        <div mat-dialog-actions class="bt-add-std">
                            <button mat-raised-button routerLink="/profile/{{username}}" type="button">Cancel</button>
                            <button mat-raised-button color="primary" type="submit">Confirm</button>
                        </div>
                    </div>
                </form >
            </mat-card-content>
        </mat-card>
    </div>
</div>