<div>
    <mat-toolbar color="primary" class="nav">
      <span>
        Hospital Coordinator
      </span>
      <mat-nav-list class = "nav-link">
        <a routerLink="/" (click)="logout()">logout</a>
      </mat-nav-list>
    </mat-toolbar>
</div>
<mat-tab-group>
  <mat-tab label="Request Card List"> 
    <mat-form-field>
      <mat-label>Search</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
    </mat-form-field>
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" matSort>
    
        <ng-container matColumnDef="cardid">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let row"> {{row.cardid}} </td>
        </ng-container>
  
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
          <td mat-cell *matCellDef="let row"> {{row.date | thaidate:'medium'}} </td>
        </ng-container>
  
        <ng-container matColumnDef="topic">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Topic</th>
          <td mat-cell *matCellDef="let row"> {{row.topic}} </td>
        </ng-container>
  
        <ng-container matColumnDef="receipttype">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Receipt Type</th>
          <td mat-cell *matCellDef="let row"> {{row.receipttype}} </td>
        </ng-container>
  
        
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
          <td mat-cell *matCellDef="let row"> 
            <button mat-icon-button color="primary" type="button" (click)="openDialog('250ms', '250ms',row)">
              <mat-icon>pageview</mat-icon>
            </button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4" style="color: black;">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
  
  </mat-tab>















  <mat-tab label="Donate">
     Content 3 
  </mat-tab>
</mat-tab-group>
