<div class="main">
  <div class="rows">
  <a routerLink="/bill" class="back"><h2>       Bill      &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   </h2></a>
  
  <a (click)="logout()"  class="out"><h2>      Logout       </h2></a>
  
  </div>
 
<div class="table-history">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="paymentcardID">
    <th mat-header-cell *matHeaderCellDef> paymentcardID. </th>
    <td mat-cell *matCellDef="let element"> {{element.paymentcardID}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="user">
    <th mat-header-cell *matHeaderCellDef> user </th>
    <td mat-cell *matCellDef="let element"> {{element.user.email}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="contribution">
    <th mat-header-cell *matHeaderCellDef> contribution </th>
    <td mat-cell *matCellDef="let element"> {{element.contribution}} </td>
  </ng-container>

 <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> date </th>
    <td mat-cell *matCellDef="let element"> {{element.date| thaidate:'medium'}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="paymentcardimg">
    <th mat-header-cell *matHeaderCellDef> paymentcardimg </th>
    <td mat-cell *matCellDef="let element"> {{element.paymentcardimg}} </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> status </th>
    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
  </ng-container>

  <ng-container matColumnDef="donatetopicID">
    <th mat-header-cell *matHeaderCellDef> donatetopicID </th>
    <td mat-cell *matCellDef="let element"> {{element.paymentcardid}} </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> action </th>
    <td mat-cell *matCellDef="let row">
      <button mat-icon-button color="primary" (click)="popup(row)" >
        <mat-icon>edit</mat-icon>
      </button>
      
    </td>
  </ng-container>
  
 
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>
</div>