<div class="main-body">
    <div mat-dialog-title>
        <h1 style="color: black;">Add Hospital</h1>
    </div>
    <form [formGroup]="hospitalForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
    
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                    <input matInput type="text" formControlName="name">
            </mat-form-field>   
        
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                    <input matInput formControlName="email">
            </mat-form-field> 
       
            <mat-form-field appearance="outline">
                <mat-label>Address</mat-label>
                    <input matInput type="text" formControlName="address">
            </mat-form-field>  
        
            <mat-form-field appearance="outline">
                <mat-label>Tel</mat-label>
                    <input matInput formControlName="tel">
            </mat-form-field> 
        
            <mat-form-field appearance="outline">
                <mat-label>Bank Name</mat-label>
                    <input matInput formControlName="bankname">
            </mat-form-field> 
        
            <mat-form-field appearance="outline">
                <mat-label>Account Name</mat-label>
                    <input matInput formControlName="accountname">
            </mat-form-field> 
       
            <mat-form-field appearance="outline">
                <mat-label>Account Number</mat-label>
                    <input matInput formControlName="accountnumber">
            </mat-form-field> 
    
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancle</button>
        <button mat-raised-button color="primary" type="submit">{{data ? 'Update': 'Save'}}</button>
    </div>
    </form>
</div>