<div class="main">
  
    <form class="main-authen" [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
    <mat-form-field appearance="fill">
        <mat-label>donatetopicID</mat-label>
        <input matInput formControlName="donatetopicID">
      </mat-form-field>


      <mat-form-field appearance="fill">
        <mat-label>cardID</mat-label>
        <input matInput formControlName="cardID">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>topic</mat-label>
        <input matInput formControlName="topic">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>amount</mat-label>
        <input matInput formControlName="amount">
      </mat-form-field>



      <mat-form-field appearance="fill">
        <mat-label>slipfilepath</mat-label>
        <input matInput formControlName="slipfilepath">
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Confirm</button>
    </form>

<div class="table-history">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="paymentcardID">
    <th mat-header-cell *matHeaderCellDef> donatetopicID. </th>
    <td mat-cell *matCellDef="let element"> {{element.donatetopicID}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="user">
    <th mat-header-cell *matHeaderCellDef> cardID </th>
    <td mat-cell *matCellDef="let element"> {{element.cardID}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="contribution">
    <th mat-header-cell *matHeaderCellDef> topic </th>
    <td mat-cell *matCellDef="let element"> {{element.topic}} </td>
  </ng-container>

 <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> amount </th>
    <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="paymentcardimg">
    <th mat-header-cell *matHeaderCellDef> slipfilepath </th>
    <td mat-cell *matCellDef="let element"> {{element.slipfilepath}} </td>
  </ng-container>

  <ng-container matColumnDef="iscomplete">
    <th mat-header-cell *matHeaderCellDef> iscomplete </th>
    <td mat-cell *matCellDef="let element"> {{element.iscomplete}} </td>
  </ng-container>

  <ng-container matColumnDef="donatetopicID">
    <th mat-header-cell *matHeaderCellDef> donatetopicID </th>
    <td mat-cell *matCellDef="let element"> {{element.donatetopicID}} </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> action </th>
    <td mat-cell *matCellDef="let row">
      <button mat-icon-button color="primary" (click)="popup(row)" >
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="delete(row.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>
  
 
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>
</div>