p{
    color: black;
    word-break: break-all;
    white-space: normal;
}
mat-card{
    mat-card-header{
        display: flex;
        justify-content: center;

    }
    mat-card-content{
        .main{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            .main-text{
                width: 30%;
                margin-left: 2rem;
                mat-form-field{
                    width: 100%;
                    margin-top: 2rem;
                }
            }
            .main-img{
            margin-left: 4rem;
            width: 60%;
            height: 40%;
            }
        }

    }
}