<div class="body" *ngIf="cardData">
    <mat-nav-list class = "nav-link">
        <a routerLink="/cards" *ngIf="cardData.cardstatus === 'approve' else com"><h2>Back</h2></a>
        <ng-template #com>
            <a routerLink="/cards/complete/history"><h2>Back</h2></a>
        </ng-template>
        <img src="../../../assets/images/img-home/logoGivepaws.png" alt="#" />
    </mat-nav-list>
    <div class="main-content" >
        <div class="selection-1">
            <mat-card>
                <h2 style="color: black; margin-top: 3rem;">{{cardData.topic}}</h2>
                <div class="img-slide">
                    <ng-image-slider
                    #nav
                    [images]="imageObject"
                    [infinite]="true"
                    [autoSlide]="1"
                    [imageSize]=" {width: '100%', height: '50%', space: 5} "
                    [slideImage]="1"
                    [animationSpeed]="2"
                    ></ng-image-slider>
                </div>
                <!-- <h3 
                    style="color: black; align-self: flex-start; margin-left: 8rem; margin-bottom: 1rem; text-transform: uppercase;"
                    >Status : {{cardData.cardstatus}}
                </h3> -->
                <h3 style="color: black; align-self: flex-start; margin-left: 8rem;">รายละเอียด</h3>
                <p class="description">{{cardData.description}}</p>
                <div *ngIf="cardData.cardstatus === 'approve' else card_com" style="width: 100%;">
                    <div class="donate" *ngFor="let topic of cardData.donate_topic">
                        <div *ngFor="let total of totalDonate" style="width: 100%;">
                            <ul class="donate-topic" *ngIf="total.topic_id == topic.donatetopicid">
                                <li style=" list-style: inside; width: 20%;">{{topic.topic}}</li>
                                <p style=" margin-left: 2rem; margin-right: 2rem; width: 70%;">จำนวน {{topic.amount}} บาท | ยอดบริจาครวม {{total.total_donate}} บาท</p>
                                <button  type="button" mat-stroked-button style=" width: 10%;" 
                                    *ngIf="cardData.user.id == user_id else donate_optional" (click)="openSlip('250ms','250ms',topic)">
                                    ดูสลิป</button>
                                <ng-template #donate_optional>
                                    <div *ngIf="total.status === 'waiting'" style="width: 11%;">
                                        <div *ngIf="user_id else go_login" style=" width: 100%;">
                                            <button type="button" mat-stroked-button (click)="openPayment('250ms','250ms',topic)">บริจาค</button>
                                        </div>
                                        <ng-template #go_login>
                                            <button type="button" mat-stroked-button (click)="login()">บริจาค</button>
                                        </ng-template>
                                    </div>  
                                </ng-template>
                            </ul>
                        </div>
                    </div>                  
                    <div class="report-bt">
                        <button (click)="closeCard('250ms','250ms',cardData.cardid)"  type="button"  mat-raised-button *ngIf="cardData.user.id == user_id else report_bt" color="warn" >ปิดการรับบริจาค</button>
                        <ng-template #report_bt>
                            <button *ngIf="user_id else go_login" type="button" mat-raised-button (click)="openReport('250ms','250ms',cardData.cardid)">Report</button>
                            <ng-template #go_login>
                                <button type="button" mat-raised-button (click)="login()">Report</button>
                            </ng-template>  
                        </ng-template>
                    </div>
                </div>
                <ng-template #card_com>
                    <div class="donate" *ngFor="let topic of cardData.donate_topic">
                        <div *ngFor="let total of totalDonate" style="width: 100%;">
                            <ul class="donate-topic" *ngIf="total.topic_id == topic.donatetopicid">
                                <li style=" list-style: inside; width: 20%;">{{topic.topic}}</li>
                                <p style=" margin-left: 2rem; margin-right: 2rem; width: 70%;">จำนวน {{topic.amount}} บาท | ยอดบริจาครวม {{total.total_donate}} บาท</p>
                                <button  type="button" mat-stroked-button style=" width: 10%;" 
                                    *ngIf="cardData.user.id == user_id" (click)="openSlip('250ms','250ms',topic)">
                                    ดูสลิป</button>
                            </ul>
                        </div>
                    </div>                  
                </ng-template>
            </mat-card>
        </div>
        <div class="selection-2">
            <div class="hc-comment">
                <mat-card *ngIf="acceptDonate">
                    <h3 style="color: black; margin: 2rem 2rem 1rem 2rem;">[ชื่อโรงพยาบาล] {{acceptDonate.hcid.hospitalid.name}}</h3>
                    <h3 style="color: black; margin: 0rem 2rem 1rem 2rem;">[ชื่อผู้อนุมัติ] {{acceptDonate.hcid.firstname}} {{acceptDonate.hcid.surname}}</h3>
                    <h3 style="color: black; margin: 0rem 2rem 1rem 2rem;">[วันที่อนุมัติ] {{acceptDonate.date | thaidate:'medium'}}</h3>
                    <h3 style="color: black; margin: 0rem 2rem 0rem 2rem;">รายละเอียด</h3>
                    <p style="color: black; margin: 0rem 2rem 2rem 2rem;">{{acceptDonate.description}}</p>
                </mat-card>
            </div>
            <div class="comment">
                <mat-card *ngIf="cardData.cardstatus==='approve' else card_com2">
                    <mat-card-header>
                        <h3>ติดตามผลการรักษา</h3>
                        <button type="button" (click)="openDonar('250ms','250ms',cardData.cardid)" mat-raised-button *ngIf="cardData.user.id == user_id"> Add </button>
                    </mat-card-header>
                    <mat-card-content *ngIf="donarData">
                        <div *ngFor="let donar of donarData" class="donar-content">
                            <h4 style="color: black; margin: 1rem 1rem 0.5rem 1rem;">[วันที่] {{donar.date | thaidate:'medium'}}</h4>
                            <h4 style="color: black; margin: 0rem 1rem 0.5rem 1rem;">[หัวข้อ] {{donar.topic}}</h4>
                            <h4 style="color: black; margin: 0rem 1rem 0.5rem 1rem;">รายละเอียด</h4>
                            <p style="color: black; margin: 0rem 1rem 1rem 1rem;">{{donar.description}}</p>
                            <img style="align-self: center; max-width: 75%; margin: 1rem;" mat-card-image src="http://127.0.0.1:8000/{{donar.img}}" alt="donar-img">
                            <button type="button" (click)="deleteDonar('250ms','250ms',donar)" style="width: 20%; margin: auto;" color="warn" mat-raised-button *ngIf="cardData.user.id == user_id"> Delete</button>
                        </div>
                    </mat-card-content>
                </mat-card>
                <ng-template #card_com2>
                    <mat-card>
                        <mat-card-header>
                            <h3>ติดตามผลการรักษา</h3>
                        </mat-card-header>
                        <mat-card-content *ngIf="donarData">
                            <div *ngFor="let donar of donarData" class="donar-content">
                                <h4 style="color: black; margin: 1rem 1rem 0.5rem 1rem;">[วันที่] {{donar.date | thaidate:'medium'}}</h4>
                                <h4 style="color: black; margin: 0rem 1rem 0.5rem 1rem;">[หัวข้อ] {{donar.topic}}</h4>
                                <h4 style="color: black; margin: 0rem 1rem 0.5rem 1rem;">รายละเอียด</h4>
                                <p style="color: black; margin: 0rem 1rem 1rem 1rem;">{{donar.description}}</p>
                                <img style="align-self: center; max-width: 75%; margin: 2rem;" mat-card-image src="http://127.0.0.1:8000/{{donar.img}}" alt="donar-img">
                            </div>
                        </mat-card-content>
                    </mat-card>
                </ng-template>
            </div>
        </div>
    </div>
</div>
