<div class="main-card">
  <div mat-dialog-title class="title"><h2 style="color: black;">Update Pasword</h2></div>
  <div mat-dialog-content class="content">
    <form class="form-update-user" [formGroup]="userData" (ngSubmit)="updatePwd()">
      <mat-form-field appearance="outline">
        <mat-label>Enter old password</mat-label>
        <input matInput formControlName="old_password" [type]="hide ? 'password' : 'text'">
        <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Enter new password</mat-label>
        <input matInput formControlName="password" [type]="hide2 ? 'password' : 'text'">
        <button type="button" mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Confirm password</mat-label>
        <input matInput formControlName="confirm_password" [type]="hide3 ? 'password' : 'text'">
        <mat-hint>
          <div class="pwd-error" *ngIf="userData.hasError('passwordMatch')">
              {{ userData.getError('passwordMatch').message }}
          </div>
        </mat-hint>
        <button type="button" mat-icon-button matSuffix (click)="hide3 = !hide3" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide3 ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <div class="bt">
        <button mat-button [mat-dialog-close]="false">Cancel</button>
        <button mat-button cdkFocusInitial type="submit">Ok</button>
      </div>
    </form>
  </div>
</div>