mat-label{
    margin-right: 1.25rem;
}
.main-card{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: aliceblue;
    .content{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .form-update-user{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            mat-form-field{
                width: 100%;
                margin: 0.7rem;
            }
            .bt{
                margin-top: 2rem;
            }
        }
    }
}
.pwd-error{
    color: red;
}