
mat-label{
  margin-right: 0.75rem;
}
.main-bg{
    background-image: url("/assets/background/profile-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    .bg-blur{
      backdrop-filter: blur(5px);
      width: 100%;
      height: 100%;
      .nav-link{
          display: flex;
          margin-top: 2rem;
          margin-left: 2rem;
          a{
            width: 6rem;
            color: aliceblue;
            text-decoration: none;
            h2:hover{
              color:   #F0C993;
            }
            
          }
      }
  }
  .main-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    mat-card{
      background-color: azure;
      width: 40%;
      height: auto;
      margin-top: 3rem;
      mat-card-content{
        p{
          color: black;
          margin: 1rem;
        }
        .content{
          display: flex;
          .bt{
            margin-left: 1rem;
            width: 30%;
            display: flex;
            flex-direction: column;
            button{
              padding: 1.75rem;
              margin: 1rem 1rem 1rem 0rem;
            }
          }
          .authen-wait{
            width: 70%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h3{
              margin-top: 0;
            }
            mat-spinner{
              margin-top: 2rem;
            }
          }
          .authen-status{
            width: 70%;
            margin: 0 auto auto auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .pt-reject{
              display: flex;
              justify-content: center;
              width: 75%;
              word-break: break-all;
              white-space: normal;
            }
          }
        }
      }
    }
  }
}
.authen-data{
  p{
    padding: 0;
    text-align: start;
  }
}