<div class="main-bg"><div>
    <div class="bg-blur">
        <mat-nav-list class = "nav-link">
            <a routerLink="/home"><h2>Back</h2></a>
        </mat-nav-list>
        <div class="main-card">
            <mat-card>
                <mat-card-header>
                    <h2 style="color: black; text-transform: uppercase; margin-top: 1rem; margin-left: 1rem;">Profile</h2>
                </mat-card-header>
                <mat-card-content *ngIf="userData">
                    <p>Username : {{userData.username}}</p>
                    <p>Name : {{userData.name}}</p> 
                    <p>Email : {{userData.email}}</p>
                    <div class="content">
                        <div class="bt">
                            <button type="button" mat-stroked-button (click)="openUpdateUser('250ms', '250ms')">Update Profile</button>
                            <button type="button" mat-stroked-button (click)="openChangePwd('250ms', '250ms')">Change Password</button>
                            <button type="button" mat-stroked-button >Donate History</button>
                            <button type="button" mat-stroked-button >Open Donation History</button>
                            <button *ngIf="auth_bt" type="button" mat-stroked-button (click)="openAuthen('250ms', '250ms')">Authentication</button>
                        </div>
                        <div class="authen-status" *ngIf="authen_req">
                            <h3 style="color: black; margin-bottom: 3rem; margin-top: 1.5rem;">Wating for admin to approve</h3>
                            <mat-spinner diameter="130" strokeWidth="9"></mat-spinner>
                        </div>
                        <div class="authen-status" *ngIf="authenData">
                            <div *ngIf="authenData.isapprove else reject">
                                <h3 style="color: green;">Authentication Approve</h3>
                            </div>
                            <ng-template #reject>
                                <h3 style="color: red;" #reject>Authentication Reject</h3>
                                <p>{{authenData.comment}}</p>
                                <button type="button" mat-stroked-button style="margin-top: 1rem;">Edit Authentication</button>
                            </ng-template>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    <div>
</div>
