<div class="main-bg"><div>
    <div class="bg-blur">
        <mat-nav-list class = "nav-link">
            <a routerLink="/home"><h2>Back</h2></a>
        </mat-nav-list>
        <div class="main-card">
            <mat-card>
                <mat-card-header>
                    <h2>Profile</h2>
                </mat-card-header>
                <mat-card-content>
                    <p>Username : {{userData.username}}</p>
                    <p>Display Name : {{userData.name}}</p> 
                    <p>Email : {{userData.email}}</p>
                    <div class="bt">
                        <button type="button" mat-stroked-button (click)="openUpdateUser('250ms', '250ms')">Update Profile</button>
                        <button type="button" mat-stroked-button >Donate History</button>
                        <button type="button" mat-stroked-button >Open Donation History</button>
                        <button type="button" mat-stroked-button (click)="openAuthen('250ms', '250ms')">Authentication</button>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    <div>
</div>
