<div class="main-bg">
    <div class="bg-blur">
        <mat-nav-list class = "nav-link">
            <a routerLink="/home"><h2>Back</h2></a>
        </mat-nav-list>
        <div class="main-card">
            <mat-card>
                <mat-card-header>
                    <h2 style="color: black; text-transform: uppercase; margin-top: 1rem; margin-left: 1rem;">Profile</h2>
                </mat-card-header>
                <mat-card-content *ngIf="userData">
                    <p>Username : {{userData.username}}</p>
                    <p>Name : {{userData.name}}</p> 
                    <p>Email : {{userData.email}}</p>
                    <div class="content">
                        <div class="bt">
                            <button type="button" mat-stroked-button (click)="openUpdateUser('250ms', '250ms')">แก้ไข Profile</button>
                            <button type="button" mat-stroked-button (click)="openChangePwd('250ms', '250ms')">แก้ไข Password</button>
                            <button type="button" mat-stroked-button routerLink="/donate/history/{{username}}">ประวัติการบริจาค</button>
                            <button *ngIf="role==='auth-user'" type="button" mat-stroked-button routerLink="/post/card/history/{{username}}">ประวัติการเปิดรับบริจาค</button>
                            <button *ngIf="auth_bt" type="button" mat-stroked-button (click)="openAuthen('250ms', '250ms')">Authentication</button>
                        </div>
                        <div class="authen-status" *ngIf="authen_req">
                            <h3 style="color: black; margin-bottom: 3rem; margin-top: 1.5rem;">Wating for admin to approve</h3>
                            <mat-spinner diameter="130" strokeWidth="9"></mat-spinner>
                        </div>
                        <div class="authen-status" *ngIf="authenStatus">
                            <div style="width: 100%; display: flex; justify-content: flex-start; align-items: flex-start; flex-direction: column;" *ngIf="authenStatus.isapprove else reject">
                                <h3 style="color: green; display: flex; align-self: center;">Authentication Approve</h3>
                                <div class="authen-data" *ngIf="authenData">
                                    <p>ชื่อ:{{authenData.firstname}}  {{authenData.surname}}</p>
                                    <p>วันเกิด: {{authenData.dob | thaidate: 'full'}}</p>
                                    <p>ที่อยู่: {{authenData.address}}</p>
                                    <p>บัตรประชาชน: {{authenData.idcard}}</p>
                                    <p>เบอร์โทรศัพท์: {{authenData.tel}}</p>
                                </div>
                                <div style="width: 100%; display: flex; flex-direction: row;" *ngIf="authenData">
                                    <img *ngFor="let image of authenData.images" style="width: 10rem; display: flex; flex-direction: row; margin: 0.25rem;" src="http://127.0.0.1:8000/{{image.image}}"/>
                                </div>
                            </div>
                            <ng-template #reject>
                                <h3 style="color: red;" #reject>Authentication Reject</h3>
                                <p class="pt-reject">{{authenStatus.comment}}</p>
                                <button type="button" mat-stroked-button style="margin-top: 1rem;" (click)="openAuthen('250ms', '250ms')">Authentication Again</button>
                            </ng-template>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    <div>
</div>