<div class="body">
    <mat-card>
        <mat-card-content>
            <div class="main-register">
                <mat-card-header><h2> Login </h2></mat-card-header>
                    <mat-form-field appearance="outline">
                    <mat-label>Enter your email</mat-label>
                    <input matInput placeholder="pat@example.com" [formControl]="email" required>
                    </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Enter your password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <div mat-dialog-actions class="bt-add-std">
                <button mat-raised-button routerLink="/">Cancel</button>
                <button mat-raised-button routerLink="/" color="primary" type="submit">Login</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>