<div class="main">
    <mat-nav-list  class="back">
        <a routerLink="/home"><h2>Back</h2></a>
    </mat-nav-list>
    <div style="width: 100%; height: 100%; display: flex; justify-content: center;">
        <mat-card class="card">
            <form (ngSubmit)="onSubmit()" [formGroup]="cardForm" style="display: flex; flex-direction: column; justify-content: center;">
                <mat-card-header style="align-self: center;"><h2 style="color: black;">เปิดรับบริจาค</h2></mat-card-header>
                <mat-form-field appearance="outline">
                    <mat-label>หัวข้อ</mat-label>
                    <input formControlName="topic" matInput placeholder="ขอความช่วยเหลือน้อง...">
                </mat-form-field>
                <mat-form-field appearance="outline" >
                    <mat-label>รายละเอียด</mat-label>
                    <input formControlName="description" matInput placeholder="รายละเอียด..............">
                    <textarea matInput style="resize:none; height: 9rem;" ></textarea>
                </mat-form-field>
                <div class="rows">
                    <mat-form-field appearance="outline">
                        <mat-label>ชนิดใบเสร็จ</mat-label>
                        <mat-select formControlName="receipttype">
                        <mat-option value="one">ใบเสร็จ</mat-option>
                        <mat-option value="two">ใบเสนอราคา</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>เลขใบเสร็จ</mat-label>
                        <input formControlName="receiptnumber" matInput placeholder="47587....">
                    </mat-form-field>
                </div>
                <div class="img-zone-1">
                    <ngx-dropzone [multiple]="false" (change)="onSelect($event)" style="background-color: aliceblue;" required>
                        <ngx-dropzone-label *ngIf="imgMessage === 'Upload ใบเสร็จ' else require_img">{{imgMessage}}</ngx-dropzone-label>
                        <ng-template #require_img>
                            <ngx-dropzone-label style="color: red;">{{imgMessage}}</ngx-dropzone-label>
                        </ng-template>
                        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)" [file]="f">
                        <!-- <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label> -->
                        </ngx-dropzone-image-preview>
                    </ngx-dropzone>
                    <div class="img-zone-item">
                        <mat-form-field appearance="outline" *ngIf="hospitalList">
                            <mat-label>โรงพยาบาล</mat-label>
                            <mat-select formControlName="hospitalid" required>
                                <mat-option *ngFor="let hospital of hospitalList" [value]="hospital.hospitalid">{{hospital.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>ค่ารักษา</mat-label>
                            <!-- <span matTextPrefix>$&nbsp;</span> -->
                            <span matTextSuffix>THB</span>
                            <input formControlName="price" matInput placeholder="4000">
                        </mat-form-field>
                    </div>
                </div>
                <h3 style="color: black; margin-left: 1.2rem; margin-top: -35px; margin-bottom: 1rem;">หัวข้อที่ต้องการรับบริจาคเพิ่มเติม</h3>
                <form formGroupName="topicForm" class="topic-form"> 
                    <div *ngFor="let group of topicsArray.controls; let i = index;" formArrayName="topics">
                        <div class="topic-group" [formGroupName]='i'>
                            <mat-form-field appearance="outline">
                                <mat-label>หัวข้อ</mat-label>
                                <input matInput placeholder="ค่าเดินทาง"  formControlName="topic">
                            </mat-form-field >
                            <mat-form-field appearance="outline">
                                <mat-label>จำนวน</mat-label>
                                <span matTextSuffix>THB</span>
                                <input matInput placeholder="1000"  formControlName="amount">
                            </mat-form-field >
                        </div>
                        <button type="button" *ngIf="i>-1" style="margin-left: 1.2rem; margin-bottom: 2rem;" class="btn btn-danger float-end mb-3" (click)="removeTopic(i)">ลบหัวข้อ -</button>
                    </div>
                    <div class="form-row org-desc-parent-margin">
                        <button type="button" style=" margin-left: 1.5rem; margin-bottom: 2rem; " class="btn btn-primary" (click)="addTopic()">เพิ่มหัวข้อ +</button>
                    </div>
                </form>
                <div style="width: 93%; align-self: center;">
                    <ngx-dropzone (change)="onSelect_2($event)" style="background-color: aliceblue;" required>
                        <ngx-dropzone-label *ngIf="imgMessage_2 === 'Upload รูป' else require_img2">{{imgMessage_2}}</ngx-dropzone-label>
                        <ng-template #require_img2>
                            <ngx-dropzone-label style="color: red;">{{imgMessage}}</ngx-dropzone-label>
                        </ng-template>
                        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files_2" [removable]="true" (removed)="onRemove_2(f)" [file]="f">
                        <!-- <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label> -->
                        </ngx-dropzone-image-preview>
                    </ngx-dropzone>
                </div>
                <div style="width: 100%; display: flex; justify-content: center; margin-top: 2rem; margin-bottom: 2rem;">
                    <button style="width: 20%;" mat-raised-button color="primary" type="submit">POST</button>
                </div>
            </form>
        </mat-card>
    </div>
</div>