.example-spacer {
    flex: 1 1 auto;
  }
  .nav{
    display: flex;
    justify-content: space-between;
    .nav-home-link{
      text-decoration: none;
      color: aliceblue;
    }
    .nav-home-link:hover{
      color: #F0C993;
    }
    .nav-link{
      display: flex;
      a{
        width: 6rem;
        color: aliceblue;
        text-decoration: none;
        
      }
      a:hover{
        color:   #F0C993;
      }
      
    }
  }